<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>
<body>
        <form action="/wands/<%=wand.id%>?_method=PUT" method="POST">
        
        <label for="wood">Wood</label>
        <input type="text" name="wood" id="wood" value="<%=wand.wood%>"/>

        <label for="img"></label>
        <input type="img" name="img" id="img" value = "<%=wand.img%>"/>

        <label for="price"></label>
        <input type="text" name="price" id="price" value = "<%=wand.price%>"/>

        <label for="qty"></label>
        <input type="text" name="qty" id="qty" value = "<%=wand.qty%>"/>

        <label for="clients"></label>
        <input type="text" name="clients" id="clients" value = "<%=wand.clients%>"/>

        <label for="readyToSubmit">Ready to Submit</label>
        <input type="checkbox" name="readyToSubmit" id="readyToSubmit"
        />
        <input type ="submit" value="Edit Wand">
    </form>
</body>
</html>