<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Wand Page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
        <h1 id = 'testTitle'>Edit Wand Page</h1>
        <div>
            <ul id = 'editNav'>
              <li><a href="/" class = 'navLi' id ="editHomeLink" >Home</a></li>
              <li><a href="/wands" class = 'navLi' id ="editInventoryLink">Wands Inventory</a></li>
            </ul>
          </div>

        <form action="/wands/<%=wand.id%>?_method=PUT" method="POST">
        
        <label for="wood">Wood</label>
        <input type="text" name="wood" class = "editText" id="wood" value="<%=wand.wood%>"/>

        <label for="core">Core</label>
        <input type="text" name="core" class = "editText" id="core" value="<%=wand.core%>"/>

        <label for="img">Image Link</label>
        <input type="img" name="img" class = "editText" id="img" value = "<%=wand.img%>"/>

        <label for="price">Price</label>
        <input type="text" name="price" class = "editText" id="price" value = "<%=wand.price%>"/>

        <label for="qty">Quantity</label>
        <input type="text" name="qty" class = "editText" id="qty" value = "<%=wand.qty%>"/>

        <label for="clients">Edit Clients</label>
        <input type="text" name="clients" class = "editText" id="clients" value = "<%=wand.clients%>"/>

        <label for="readyToSubmit">Ready to Submit</label>
        <input type="checkbox" name="readyToSubmit" id="readyToSubmit"
        <% if(wand.readyToSubmit === true) { %>
            checked
            <% } %>
        />

        <input type ="submit" value="Edit Wand">
    </form>
</body>
</html>