<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollivanders</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>
<body>
  <h1>Inventory of Wands</h1>
  <div>
    <ul id = 'indexNav'>
      <li><a href="/" class = 'navLi' id ="indexHomeLink">Home</a></li>
      <li><a href="/wands/new" class = 'navLi' id="indexAddNew">Add New Wand</a></li>
    </ul>
  </div>
  <br>

    <div class = 'indexContainer'>
    <% for(let i=0; i<wand.length; i++){ %>
      <!-- Instead of a table, use a div and then each element of the div will contain the wand info. -->  
        <div class = 'indexCard'>
          <h2 class = 'indexNumberWood'>
            <div class = "indexNumberWood" id ="indexNumber"><%if(i===0){%>
              <a href="/wands/<%=wand[i].id%>" class = "indexNumberWood"> <%=1+'. '+wand[i].wood+' Wand'%></a>
            <%} else {%>
            <a href="/wands/<%=wand[i].id%>" class = "indexNumberWood"> <%=i+1+'. '+wand[i].wood+' Wand'%></a>
            <%}%>
            </div>
          </h2>

          <div class = "wandInfo"><br>
            <div class = "indexTd" id="indexCore">
              <%='Core: '+wand[i].core%>
              </a>
            </div>

            <div class = "indexTd" id="indexPrice">
              <%='Price: '+wand[i].price+' Galleons'%>
              </a>
            </div>

            <div class = "indexTd" id="indexQty">
              <%='Quantity in Stock: '+wand[i].qty%>
              </a>
            </div>

            <div class = "indexTd" id="indexClients">
              <%='Previous clients : '+wand[i].clients%>
              </a>
            </div>
            <div><br></div>
          </div>

          <div class = "indexButtons"><br>

            <div class = "indexTd" id = "indexEdit">
              <a href="/wands/<%=wand[i].id%>/edit">
                <button id="button"> EDIT </button>
            </a>
            </div>

            <div class = "indexTd" id = "indexDelete">
              <form action="/wands/<%=wand[i].id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" id="button"/>
              </form>
              <div><br></div>
            </div>
            
          </div>
          
        </div>
      <br>
      <% } %>
    </div>
</body>
</html>