<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollivanders</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>
<body>
  <div>
    <a href="/wands">Ollivanders Inventory</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a href="/wands/new">Add New Wand</a>
      </li>
    </ul>
  </div>
    <div class = 'container'>
    <% for(let i=0; i<wand.length; i++){ %>
    <table id = tableOfWandsIndex>
      <tr>    
          <td>
          <a href="/wands/<%=wand[i].id%>"> <%=wand[i].wood%></a>
          </td>
          
          <td id="wandsCore">
            <a href= "/wands/<%=wand[i].id%>"> <%=wand[i].core%>
            </a>
          </td>
          <td>
            <form action="/wands/<%=wand[i].id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE"/>
            </form>
          </td>
          <td>
            <a href="/wands/<%=wand[i].id%>/edit">
              <button>EDIT</button>
          </a>
          </td>
      </tr>
      <br>
      </table>
      <% } %>
  </div>
</body>
</html>