<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollivanders</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>
<body>
  <div>
    <a href="/wands">Ollivanders Inventory</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/wands">Wands</a></li>
    </ul>
    <div class = 'container'></div>
    <table id = tableOfWandsIndex>
        <% for(let i=0; i<allWands.length; i++){ %>
            <tr>
                    
                    <td><%let firstLetCap=allWands[i].wood.charAt(0).toUpperCase()%>          
                    </td>
                    
                    <td>
                    <a href="/wands/<%=i%>">
                        <%= firstLetCap + allWands[i].wood.slice(1)%>
                    </a>
                    </td>

                    <td><%= allWands[i].price + ' Galleons' %>
                    </td>
                    
                    <td><%=allWands[i].core%>
                    </td>

                    <td id = 'editButton'><%='EDIT BUTTON'%></td>

                    <td id = 'deleteButton'><%='DELETE BUTTON'%></td>

                    <td id = 'stockStatus'><%='STOCK STATUS'%></td>

            </tr>
        <% } %>
    </table>
  </div>
</body>
</html>