<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollivanders</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>

<body>
<div class = 'container'>
    <div>
        <span id = 'wandWood'><%='Wood: '+allWands.wood%></span><br/>
        <span id = 'wandCore'><%='Core: '+allWands.core%></span><br/>
        <span id = 'wandImg'><img src=<%=allWands.img%>/></span><br/>
        <span id = 'wandPrice'><%='Price: '+allWands.price+' Galleons'%></span><br/>
        <span id = 'wandQty'><%='Number in stock: '+allWands.qty%></span><br/>
        <span id = 'previousClients'><%='Previous buyers: '+allWands.clients%></span><br/>


        <% if(allWands.qty > 0) {%>
            <!-- //starting with an if conditional: if the wand's stock (or qty) is greater than 0, then the following will execute. -->
            <form action="/wands/<%=id%>/sell?_method=PUT" method="POST">
            <button>
                Sell
            </button>
            </form>
        <%} else {%>
            <button class = 'unclickable'>Out of stock</button>
        <%}%>

    </div>
        <form action="/wands/<%=id%>?_method=DELETE" method="POST">
        <input type ="submit" value="Delete"/>
        </form>
</div>

<a href="/wands/<%=id%>/edit">Edit Wand</a>

</body>
</html>