<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollivanders</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>

<body>
<div class = 'container'>
    <span id = 'showWood'><%='Wood: '+wand.wood%></span><br/>
    <span id = 'showCore'><%='Core: '+wand.core%></span><br/>
    <span><img id = 'showImg' src=<%=wand.img%>/></span><br/>
    <span id = 'showPrice'><%='Price: '+wand.price+' Galleons'%></span><br/>
    <span id = 'showQty'><%='Number in stock: '+wand.qty%></span><br/>
    <span id = 'showClients'><%='Previous buyers: '+wand.clients%></span><br/>
    <span id = 'showReadyToSubmit'><%='Ready to Submit: '+wand.readyToSubmit%></span><br/>

     <% if(wand.qty > 0) {%>
        <!-- //starting with an if conditional: if the wand's stock (or qty) is greater than 0, then the following will execute. -->
        <form action="/wands/<%=wand.id%>/sell?_method=PUT" method="POST">
        <button>
            Sell
        </button>
        </form>
    <%} else {%>
        <button class = 'unclickable'>Out of stock</button>
    <%}%>

    <a href="/wands/<%=wand.id%>/edit">
        <button>EDIT</button>
    </a>
    <br>
    <a href="/wands">Back to Inventory</a>
    </div>
</body>
</html>