<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollivanders</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>

<body>
<div class = 'container'>
    <span id = 'wandWood'><%='Wood: '+wand.wood%></span><br/>
    <span id = 'wandCore'><%='Core: '+wand.core%></span><br/>
    <span id = 'wandImg'><img src=<%=wand.img%>/></span><br/>
    <span id = 'wandPrice'><%='Price: '+wand.price+' Galleons'%></span><br/>
    <span id = 'wandQty'><%='Number in stock: '+wand.qty%></span><br/>
    <span id = 'previousClients'><%='Previous buyers: '+wand.clients%></span><br/>
    <span id = 'readyToSubmit'><%='Ready to Submit: '+wand.readyToSubmit%></span><br/>

     <% if(wand.qty > 0) {%>
        <!-- //starting with an if conditional: if the wand's stock (or qty) is greater than 0, then the following will execute. -->
        <form action="/wands/<%=wand.id%>/sell?_method=PUT" method="POST">
        <button>
            Sell
        </button>
        </form>
    <%} else {%>
        <button class = 'unclickable'>Out of stock</button>
    <%}%>

    <a href="/wands/<%=wand.id%>/edit">
        <button>EDIT</button>
    </a>
    <br>
    <a href="/wands">Back to Inventory</a>
    </div>
</body>
</html>